<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>テンプレート</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <header>
       <div>
            <h1><img src="" alt=""></h1>
            <p id="user_confirm">ID:suzukiac.jp</p>   
       </div>
   </header>
   <article>
       <h2>申し込み予定講座</h2>
           <button class="con_btn">申し込み予定講座</button>
       <ul class="con">
           <li>
               <img src="./img/lecture1_small.jpg" alt="lecture1">
               <div class="con_p">
                    <p>4/22(木)17:00-20:00</p>
                    <h3>Java/MySQLでログインページを作りながら学ぶWeb開発</h3>
                    <p id="con_price">11,000円(税込)&nbsp;&nbsp;&nbsp;&nbsp;<a href="">講座詳細</a></p>    
                </div>  
                <button>削除</button>  
           </li>
           <li>
                <img src="./img/lecture2_small.jpg" alt="lecture2">
                <div class="con_p">
                    <p>4/22(木)17:00-20:00</p>
                    <h3>Java/MySQLでログインページを作りながら学ぶWeb開発</h3>
                    <p id="con_price">11,000円(税込)&nbsp;&nbsp;&nbsp;&nbsp;<a href="">講座詳細</a></p>     
                </div>  
                 <button>削除</button>  
           </li>
       </ul>
   </article>
   <footer><small>Copyright &copy;  Academy All rights reserved.</small></footer>
</body>
</html>